<a href="https://colab.research.google.com/github/sruthijasti/FML-Lab/blob/main/Exp-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **cross validation_Ridge_regression**

**Cross Validating the model for 50_startups dataset**

In [1]:
#import packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import linear_model
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error

In [3]:
#Loading the dataset
data = pd.read_csv("/content/50-Startups.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
#Removing the label from the input data
#Create feature and target array from given data
X = data.drop('Profit', axis=1).values
y = data['Profit'].values
X=data.select_dtypes(include=np.number)

**Splitting of the data:**

Splitting the data into training data and testing data such that 80% of data comes under training data and remaining 20% of data comes under the testing data

In [5]:
#Splitting the data into training and testing records
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=41)

***Fitting a Ridge regression model:***

In [6]:
reg = Ridge(alpha = 0.1)
reg.fit(X_train, y_train)

Ridge(alpha=0.1)

Evaluating the model on training data only

In [7]:
y_pred1 = reg.predict(X_train)
print(f'Performance of the model on training data :\n')
print(f'MAE = {mean_absolute_error(y_train, y_pred1)}')
print(f'MSE = {mean_squared_error(y_train, y_pred1)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_train, y_pred1))}')
print(f'R_2 = {r2_score(y_train, y_pred1)}')

Performance of the model on training data :

MAE = 3.0382270779227836e-07
MSE = 1.3077299403465143e-13
RMSE = 3.6162548864073647e-07
R_2 = 1.0

Evaluating the model on testing data only

In [8]:
y_pred2 = reg.predict(X_test)
print(f'Performance of the model on test data :\n')
print(f'MAE = {mean_absolute_error(y_test, y_pred2)}')
print(f'MSE = {mean_squared_error(y_test, y_pred2)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_test, y_pred2))}')
print(f'R_2 = {r2_score(y_test, y_pred2)}')

Performance of the model on test data :

MAE = 5.55426777282264e-07
MSE = 5.99181233122895e-13
RMSE = 7.74067977068484e-07
R_2 = 1.0

In [9]:
#By default ridge regression score method gives r_2 score
reg.score(X_test, y_test)

1.0

**CONCLUSION** : We can say that testing data fits best for the LinearRegression model using ridge regression.