<a href="https://colab.research.google.com/github/sruthijasti/FML-Lab/blob/main/Exp-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **cross validation_Lasso_regression**

**Cross Validating the model for company dataset**

In [1]:
#import packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import linear_model
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error

In [3]:
#Loading the dataset
data = pd.read_csv("/content/Company-data.csv")
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [4]:
#Removing the label from the input data
#Create feature and target array from given data
X = data.drop('Sales', axis=1).values
y = data['Sales'].values

**Splitting of the data:**

Splitting the data into training data and testing data such that 80% of data comes under training data and remaining 20% of data comes under the testing data

In [5]:
#Splitting the data into training and testing records
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=41)

***Fitting a Lasso regression model:***

In [6]:
reg = Lasso(alpha = 0.1)
reg.fit(X_train, y_train)

Lasso(alpha=0.1)

Evaluating the model on training data only

In [7]:
y_pred1 = reg.predict(X_train)
print(f'Performance of the model on training data :\n')
print(f'MAE = {mean_absolute_error(y_train, y_pred1)}')
print(f'MSE = {mean_squared_error(y_train, y_pred1)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_train, y_pred1))}')
print(f'R_2 = {r2_score(y_train, y_pred1)}')

Performance of the model on training data :

MAE = 1.2238291261354222
MSE = 2.542219267250927
RMSE = 1.594433839094908
R_2 = 0.9062365605856049

Evaluating the model on testing data only

In [8]:
y_pred2 = reg.predict(X_test)
print(f'Performance of the model on test data :\n')
print(f'MAE = {mean_absolute_error(y_test, y_pred2)}')
print(f'MSE = {mean_squared_error(y_test, y_pred2)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_test, y_pred2))}')
print(f'R_2 = {r2_score(y_test, y_pred2)}')

Performance of the model on test data :

MAE = 1.2757253129694843
MSE = 3.4603189213313583
RMSE = 1.8601932483834465
R_2 = 0.8827222976742524

In [9]:
#By default lasso regression score method gives r_2 score
reg.score(X_test, y_test)

0.8827222976742524

**CONCLUSION** : We can say that testing data fits well for the LinearRegression model using lasso regression.